{{#> base}}
	{{#*inline "head"}}
		<title>Charlotte Thomas' Writing Den</title>
		<meta property="og:title" content="Writing Den"/>
		<meta property="og:type" content="article"/>
		<meta property="og:description" content="{{summary}}">
		<meta property="og:article:author" content="Charlotte Thomas"/>
		<meta property="og:article:site_name" content="analgesia.icu"/>
		<meta name="theme-color" content="#55cdfc"/>
		<meta name="description" content="{{summary}}">
	{{/inline}}
	{{#*inline "body"}}
		{{{body}}}
	{{/inline}}
{{/base}}
